@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .button {
    width: 250px;
    margin-top: 5px;
  }
  .description {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .title {
    height: 151px;
    width: 448px;
  }
}

@media screen and (max-width: 530px) {
  .title {
    height: 71px;
    width: 350px;
  }
}

@media screen and (min-width: 1000px) {
  .description {
    width: 50%;
  }
}
